.doctorSchedulePage {
    /* background-image: url("https://static.wixstatic.com/media/3b1f25_efc1908db3fa487d88c92f3e48ce0350.jpg/v1/fill/w_640,h_236,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/3b1f25_efc1908db3fa487d88c92f3e48ce0350.jpg"); */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    overflow-y: scroll;
}

.doctorSchedulePageBox {
    width: 1440px;
}

.timeBox {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    /* align-items: ; */
    /* padding: 0 -20%; */
}

.timeShow {
    width: 25%;
    height: 50px;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    /* background-image: url("../assets/images/bubble.png"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.doctorCheck {
    font-size: 20px !important;
    font-weight: 600;

}
.doctorCheck .ant-radio span{
    font-size: 20px !important;
}
.doctorCheck  .ant-radio-wrapper span{
    font-size: 20px !important;
}