.prescriptionPage {
    /* background-image: url("https://static.wixstatic.com/media/3b1f25_efc1908db3fa487d88c92f3e48ce0350.jpg/v1/fill/w_640,h_236,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/3b1f25_efc1908db3fa487d88c92f3e48ce0350.jpg"); */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    overflow-y: scroll;
}

:global {
    .prescriptionPage {
        .ant-btn {
            background-color: #1890ff;
        }
    }
}

.tableBox {
    width: 1000px;
    min-height: 400px;
}

.prescriptionCap {
    height: 100px;
    line-height: 100px;
    font-size: 20px;
}

.prescriptionThead {
    height: 50px;
    background-color: #ccc;
}

.prescriptionBorderColor {
    border-color: #000;
}